.container {
    background: var(--azul-escuro);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-group {
        img {
            margin: 30px auto;
            width: 200px;
        }
        h2 {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
        }
        width: 600px;
        .form-control {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        button {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        a {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}