<app-header></app-header>
<section class="content">
    <div class="content-container">
        <app-book-card 
            *ngFor="let book of books"
            (click)="onProfileOpen(book)" 
            [author]="book.autor" 
            [description]="getReview(book)"
            [name]="book.nome"
            [image]="book.imagem"
            [gender]="book.genero"></app-book-card>
    </div>

    <button class="float-button" (click)="onProfileOpen()">+</button>
</section>
<app-book-profile *ngIf="openProfile | async" [openProfile]="openProfile" [currentBook]="currentBook"></app-book-profile>

