<app-header></app-header>
<section class="content">
    <div class="content-container">
        <app-book-card 
            *ngFor="let book of books"
            (click)="onProfileOpen(book)" 
            [author]="book.autor" 
            [description]="getReview(book)"
            [name]="book.nome"
            [image]="book.imagem"
            [gender]="book.genero"></app-book-card>
    </div>

    <button class="float-button" (click)="onProfileOpen()">+</button>
</section>
<app-book-profile *ngIf="openProfile | async" [openProfile]="openProfile" [currentBook]="currentBook"></app-book-profile>

<div class="filters-container {{filterOpen? 'open': ''}}">
    <form *ngIf="filtersForm" class="form-group" [formGroup]="filtersForm">

        <h2>Filtros</h2>

        <div class="form-control">
            <label for="">Nome</label>
            <input type="text" formControlName="nome" placeholder="nome">
        </div>

        <div class="form-control">
            <label for="">autor</label>
            <input type="text" formControlName="autor" placeholder="autor">
        </div>

        <div class="form-control">
            <label for="">Tags</label>
            <select formControlName="tags">
                <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
            </select>
        </div>

        <div class="form-control">
            <label for="">Genero</label>
            <select formControlName="genero">
                <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
            </select>
        </div>

        <button class="zp-button azul" (click)="filtrar()">Aplicar filtro</button>
        <button class="zp-button vermelho" (click)="limparFiltros()">Limpar filtros</button>

        <button class="open-filter-button" (click)="filterOpen = !filterOpen">
            <img src="../../../assets/img/lupa.svg" alt="">
        </button>    
    </form>   

</div>
