<div class="container">

    <form class="form-group" [formGroup]="form">
        
        <div class="form-control">
            <label for="">Email</label>
            <input type="text" formControlName="email">
        </div>

        <div class="form-control">
            <label for="">Senha</label>
            <input type="text" formControlName="senha">
        </div>

        <button (click)="login()">Login</button>

        <a routerLink="signup"> Não possui conta? Siga para tela de cadastro</a>

    </form>
</div>