<div class="container">

    <form class="form-group" [formGroup]="form">

        <h2>Login ZupReaders</h2>
        
        <img src="../../../assets/img/logo.png" alt="">
        
        <div class="form-control">
            <label for="">Email</label>
            <input type="text" formControlName="email" placeholder="email">
        </div>

        <div class="form-control">
            <label for="">Senha</label>
            <input type="password" formControlName="senha" placeholder="senha" >
        </div>

        <button class="zp-button azul" (click)="login()">Login</button>

        <a routerLink="signup" (click)="cadastro()"> Não possui conta? Siga para tela de cadastro</a>

    </form>
</div>