:host {
    width: 33.3%;
    border: 2px solid white;
    margin-bottom: 15px;
}
.books-card-container {
    max-width: 350px;
    display: flex;
    overflow: hidden;
    img {
        width: 90%;
    }
    .left-side {
       width: 50%;

    }
    .rigth-side {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .books-card-title {

        }
        .book-description {

        }
        .book-author {

        }

    }

}